@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

:root {
	--font-primary: 'Sarabun', system-ui, -apple-system, sans-serif;
	--font-mono: 'Red Hat Mono', ui-monospace, 'Menlo', 'Monaco', 'Courier New', monospace;

	text-size-adjust: 100%;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Body */
body {
	background: #000000;
	font-family: var(--font-primary);
	line-height: 1.5;
	font-weight: 400;

	place-content: center;
	height: 100vh;
	margin: 0;
	padding: 0;
}

/* Header */

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--action-text-color);
	font-weight: 700;
	margin: 24px 0 16px 0;
}

h1 {
	font-size: 2em; /* 32px */
}

h2 {
	font-size: 1.75em; /* 28px */
}

h3 {
	font-size: 1.5em; /* 24px */
}

h4 {
	font-size: 1.25em; /* 20px */
}

h5 {
	font-size: 1.125em; /* 18px */
}

h6 {
	font-size: 1em; /* 16px */
}
