@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import 'tailwindcss';

@theme {
	--color-primary: #020202;
	--color-primary-foreground: #ffffff;
	--font-primary: 'Archivo Black', systrem-ui, -apple-systrem, sans-serif;
	--font-mono: 'Almarai', ui-monospace, 'Menlo', 'Monaco', 'Courier New', monospace;
}

:root {
	text-size-adjust: 100%;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Body */
body {
	color: var(--color-primary-foreground);
	font-size: 0.75rem;
	line-height: 1.5;
	font-weight: 400;
	font-family: var(--font-primary);
	background-color: var(--color-primary);

	/*background: #c7d1ff;
	background: linear-gradient(137deg, rgba(199, 209, 255, 1) 0%, rgba(245, 219, 255, 1) 100%);
	background-repeat: no-repeat;
	background-attachment: fixed;*/

	height: 100dvh;
	margin: 0;
	padding: 0;
}

/* Header */
@layer base {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-weight: 700;
		margin: 24px 0 16px 0;
		text-wrap: nowrap;
	}

	h1 {
		@apply text-xl sm:text-2xl;
	}

	h2 {
		@apply text-lg sm:text-xl;
	}

	h3 {
		@apply text-base sm:text-lg;
	}

	h4 {
		font-size: 1rem; /* 16px */
	}

	h5 {
		font-size: 0.875rem; /* 14px */
	}

	h6 {
		font-size: 0.75rem; /* 12px */
	}

	p {
		font-size: 0.625rem; /* 10px */
	}
}
