@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

:root {
	--color-base: #020202;
	--font-primary: 'Archivo Black', systrem-ui, -apple-systrem, sans-serif;
	--font-mono: 'Red Hat Mono', ui-monospace, 'Menlo', 'Monaco', 'Courier New', monospace;

	text-size-adjust: 100%;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Body */
body {
	color: #ffffff;
	font-size: 0.75rem;
	line-height: 1.5;
	font-weight: 400;
	font-family: var(--font-primary);
	background: var(--color-base);

	height: 100vh;
	margin: 0;
	padding: 0;
}

/* Header */
@layer base {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-weight: 700;
		margin: 24px 0 16px 0;
		text-wrap: nowrap;
	}

	h1 {
		@apply text-xl sm:text-2xl;
	}

	h2 {
		@apply text-lg sm:text-xl;
	}

	h3 {
		@apply text-base sm:text-lg;
	}

	h4 {
		font-size: 1rem; /* 16px */
	}

	h5 {
		font-size: 0.875rem; /* 14px */
	}

	h6 {
		font-size: 0.75rem; /* 12px */
	}

	p,
	span {
		font-size: 0.625rem; /* 10px */
	}
}
