@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:ital,wght@0,300..700;1,300..700&display=swap');
@import 'tailwindcss';

@theme {
	--color-primary: #020202;
	--color-primary-foreground: #ffffff;
	--font-archivo: 'Archivo Black', systrem-ui, -apple-systrem, sans-serif;
	--font-almarai: 'Almarai', 'Noto Sans Thai', ui-monospace, 'Menlo', 'Monaco', 'Courier New',
		monospace;
	--font-roboto: 'Roboto', ui-monospace, 'Menlo', 'Monaco', 'Courier New', monospace;
	--font-mono: 'Red Hat Mono', ui-monospace, 'Menlo', 'Monaco', 'Courier New', monospace;
}

:root {
	text-size-adjust: 100%;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	font-size: 1rem;
	line-height: 1.5;
	font-weight: 400;
}

/* Header */
@layer base {
	/* Body */
	body {
		color: var(--color-primary-foreground);
		font-family: var(--font-almarai);
		background-color: var(--color-primary);

		width: 100dvw;
		height: 100dvh;
		margin: 0;
		padding: 0;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-weight: 700;
		font-family: var(--font-archivo);
	}

	h1 {
		@apply text-xl sm:text-2xl;
	}

	h2 {
		@apply text-lg sm:text-xl;
	}

	h3 {
		@apply text-base sm:text-lg;
	}

	h4 {
		@apply text-sm sm:text-base;
	}

	h5 {
		@apply text-sm;
	}

	h6 {
		@apply text-xs;
	}

	p {
		@apply text-xs;
	}

	img {
		@apply pointer-events-none;
	}
}

@layer components {
	.header {
		margin: 24px 0 16px 0;
		text-wrap: nowrap;
	}
}
